<mat-toolbar color="primary">
  <span>Workout Tracker</span>
  <span class="spacer"></span>
  <button mat-button [routerLink]="['/user-form']">User Form</button>
  <button mat-button [routerLink]="['/workout-form']">Workout Form</button>
  <button mat-button [routerLink]="['/workout-table']">Workout Table</button>
  <button mat-button [routerLink]="['/search-filter']">Search Filter</button>
  <button mat-button [routerLink]="['/workout-chart']">Workout Chart</button>
</mat-toolbar>

<div class="content" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
